.Blog-header {
    background-color: rgb(231, 181, 42);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
}
  
.Blog-link {
  color: #61dafb;
}