.Self-header {
    background-color: rgb(5, 78, 223);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
}
  
.Self-link {
  color: #61dafb;
}